<div class="container-fluid">
  <form (ngSubmit)="submit()" #addForm="ngForm" class="post-form" novalidate>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="post.title" #title="ngModel" required>
      <div class="alert alert-danger" [hidden]="title.valid">Title is required</div>
    </div>
    <div class="form-group">
      <label>Content</label>
      <!--<angular-editor id="postContent" [(ngModel)]="post.content" [config]="editorConfig" name="content" #content="ngModel" required>
    </angular-editor>-->
      <textarea class="form-control" name="content" [(ngModel)]="post.content" #content="ngModel" required></textarea>
      <div class="alert alert-danger" [hidden]="content.valid">Content is required</div>
    </div>
    <h3>Select an image For your post.</h3>
    <input #file type="file" multiple (change)="upload(file.files)" />
    <br />
    <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
      {{progress}}%
    </span>

    <span style="font-weight:bold;color:green;" *ngIf="message">
      {{message}}
    </span>
    <div *ngIf="post">

      <div class="pull-right">
        <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" [disabled]="addForm.pristine || !addForm.valid">{{ operationText }}</button>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
  </form>
  <br />
</div>
